
header {
    display: flex;
    background-color: cadetblue;
    align-items: center;
    justify-content: center;
}

header nav ul{
    display: flex;
    gap: 1.5em;
    justify-content: space-between;

}
header nav ul li {
    color: white;
}
header a i{
    color: white;
    font-size: 3em;
    padding: 0.5em;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
     
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.Pug {
    width: 400px;
    height: 400px;
}
.perro2 {
    width: 100%;
    height: 500px; 
}
.seccion-1{
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 30px;

}
.cuento{
    width: 400px;
    text-align: justify;

}
.seccion-2{
    width: 100%;
}
footer{
    background-color: #22211f;
    color: white;
    font-family: "Roboto", sans-serif;
    width: 100%;
    display: flex;
    justify-content: left;

}

#footer {
    padding: 1em;
}
div{
    display: blockss;
}
#footer nav ul li{
    color: #eeeeee;
}
#footer a i.fa-solid.fa-dog{
    
    bottom: 50px;
    right: 39px;
    position: fixed;
}
.fasolid, .fas{
    font-weight: 900;
}

.tarjetas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;

}
p{
    font-family: "Roboto", sans-serif;
    text-align: justify; 
}
/* menu
#check {
    display: none;
}
.checkbtn{
    font-size: 25px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}*/
div img{
    
    width: 200px;
    height: 200px;
}   
.husky{
    border-radius: 20%;
}
.beagle{
    border-radius: 20%;
}
.pitbull{
    border-radius: 20%;
}
article{
    margin: 10%;
}
/*@media (max-width: 767px){
    .articulo1{
        font-size: 20px;
        
    }
    .articulo2{
        font-size: 20px;
    }
    .articulo3{
        font-size: 20px;
    }
}
@media(max-width: 768pc){
    header{
        background-color: burlywood;;
    }
    .checkbtn{
        display: block;
    }
    #check:checked ~ ul{
        left: 0;
        display:block;
    }
}
*/
.greeting{
    color:blue;
}